<div class="row user_setup">
  <div class="col-md-4 col-md-offset-2 user_setup_content ">
    <div class="col-md-10 col-md-offset-12 login">
      <h3>账户登录</h3>
      <hr/>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">

          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <%= f.input :email, :label => false, required: false, placeholder: '邮箱地址', required: false, autofocus: true %>
          </div>
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <%= f.input :password, :label => false, placeholder:'密码', required: false %>
          </div>
          <%= rucaptcha_image_tag(alt: 'Captcha') %>
          <%= rucaptcha_input_tag(class: 'form-control', placeholder: '请输入验证码') %>
          <%= f.input :remember_me, :label => "记住我",as: :boolean if devise_mapping.rememberable? %>
          <%= link_to "忘记密码？", new_password_path(resource_name), class: 'psw'%>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "登录", class: "button"%>
        </div>
      <% end %>
      <hr />
  <div class="account">
    <%= link_to(content_tag(:i, '立即注册', class: 'glyphicon glyphicon-circle-arrow-right'), new_registration_path(resource_name) )%>
  </div>
 </div>
 </div>
</div>
