
   <h3 class="text-center">订单列表</h3>
   </br>
    <table class="table table-hover pull-right">
      <thead>
        <tr>
          <th>订单编号</th>
          <th>订单金额</th>
          <th>下单时间</th>
          <th>订单状态</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
         <tr onclick="location='<%= order_path(order.token) %>';">
          <td> <%=  order_path(order.token) %></td>
          <td> ￥<%= order.total %></td>
          <td> <%= order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td> <%= order.aasm_state %> </td>
        </tr>
        <% end %>

      </tbody>
    </table>
